.tab-bar {
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 5px 30px;
  /* 왼쪽이 너무 남아도는데 왜인지 모르겠 ㅠ */
  border-top: 1px solid #c1c1c1;
}

.tab-bar .tab-bar__tab {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #c1c1c1;
}

/*여기 i는 무슨일을 하는 녀석인가. 하위 클래스가 아니여서 인가... ㅠ*/

.tab-bar .tab-bar__tab i {
  text-align: center;
  display: block;
  margin-bottom: 5px;
  font-size: 25px;
}

.tab-bar .tab__bar__title {
  font-size: 10px;
}

.tab-bar .tab-bar__tab--selected {
  color: #523737;
}
